/* css barcode */
/* by rexfeng 2012 */

.upc-wrap {
    position: relative;
    width: auto;
    height: 100%;
    max-height: 217px;
    min-height: 124px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.upc-a {
    position: absolute;
    height: auto;
    top: 0;
    bottom: 0;
    left: 50%; /* center when squeezed (with margin-right: -142px) */
    margin: 5px 30px 26px -142px; /* quiet zones on left & right + room for .upc-digits */
}

.upc-bars {
    width: 285px; /* 95 * 3 */
    height: 100%; /* 62 * 3 = 186px */
}

.upc-digits {
    text-wrap: none;
}

.m {
    /* module 1px *3 width */
    width: 3px;
    height: 100%; /* 186 / 244 * 235 = 179px */
    display: inline-block;
    vertical-align: top;
}

.long {
    height: 100%; /* 186px */
}

.short {
    height: 95%; /* 179px */
}

.o {
    background-color: #fff;
}

.e {
    background-color: #000;
}

.l {
    display: inline-block;
    height: 100%}

.r {
    display: inline-block;
    height: 100%;
}

.r .o.m {
    background-color: #000;
}

.r .e.m {
    background-color: #fff;
}

.l1, .l2, .l3, .l4, .l5, .l6 {
    display: inline-block;
}

.r1, .r2, .r3, .r4, .r5, .r6 {
    display: inline-block;
}

.digits {
    font-family: monospace, Courier, sans-serif;
    font-size: 2em;
    display: inline;
    position: relative;
    top: -10px;
    letter-spacing: 3px;
}

.l-digits {
    margin-left: 3px;
}

.r-digits {
    margin-left: 24px;
}

.number-system {
    left: -20px;
    font-size: 1.5em;
}

.check-digit {
    font-size: 1.5em;
    right: -27px;
}

.red-strike {
    position: absolute;
    top: 45%;
    width: 285px;
    height: 4px;
    background-color: red;
    display: none;
}
